<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
<link rel="shortcut icon" href="./image/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="./image/favicon.ico" type="image/x-icon"/>
<title>RECREO{{title}}</title> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <meta http-equiv="imagetoolbar" content="false"> 
    <link href="./css/main.css" rel="stylesheet" type="text/css" />
	<link href="./css/galleria.css" rel="stylesheet" type="text/css" media="screen"> 
	<script type="text/javascript" src="./js/jquery.js"></script> 
	<script type="text/javascript" src="./js/jquery.galleria.pack.js"></script> 
	<script type="text/javascript"> 
	
	jQuery(function($) {
		
		$('.gallery_demo_unstyled').addClass('gallery_demo'); // adds new class name to maintain degradability
		$('.nav').css('display','none'); // hides the nav initially
		
		$('ul.gallery_demo').galleria({
			history   : false, // deactivates the history object for bookmarking, back-button etc.
			clickNext : false, // helper for making the image clickable. Let's not have that in this example.
			insert    : undefined, // the containing selector for our main image. 
								   // If not found or undefined (like here), galleria will create a container 
								   // before the ul with the class .galleria_container (see CSS)
			onImage   : function() { $('.nav').css('display','block'); } // shows the nav when the image is showing
		});
	});
	
	</script> 
	<style media="screen,projection" type="text/css"> 
	
	div#container{
 width:90%;
 margin:0 auto;
}

.galleria_container	{
 float:right;
}

.gallery_demo_unstyled{
 float:left;
}
    </style> 
	
</head> 
<body> 

<div id="container"> 
<div id="header" class="rss"><h1><a href="/"><img src="./image/logo2.png" /></a>&nbsp;&nbsp;Photo Book</h1></div> 
<div id="wrapper"> 
  <div id="border"></div>
  <div id="content">

<p class="nav"><a href="#" onclick="$.galleria.prev(); return false;">previous</a> | <a href="#" onclick="$.galleria.next(); return false;">next</a></p> 
<ul class="gallery_demo_unstyled"> 
  {% for photo in article.photo_set %}
    <li><img src="/img/{{photo.key}}" /></li>
  {% endfor %}  
</ul> 




  </div><!-- end content -->
</div><!-- end wrapper -->

<div style="display:block;clear:both;"></div>
<div id="footer" style="margin-top:20px;"><p></p></div> 
</div> 

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16034475-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body> 
</html>
